<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.kaer.electricisystem.goodsserver.dao.GoodsMapper">
    <select id="getGoodsByCategoryId" parameterType="java.lang.Integer" resultType="cn.com.kaer.electricisystem.goodsserver.vo.GoodsVO">
        SELECT * FROM tb_goods_info
WHERE category_id=#{categoryId} AND status=1
    </select>
</mapper>